.App {
  text-align: center;
  background-color: #333333;
  width: 100vw;
  height:100vh;
  color: #F7F7F7;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  margin: 0;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 50px;
  text-align: start;
}


